p(class="card-text")= `${user.nombre}`
img(src= `${user.imagen}` alt="userImage" height="200px" width="200px")
a(id="logout-btn" class="btn btn-primary d-flex justify-content-center" href="http://localhost:9494/logout" role="button") Logout