body {
  --navbar-1-url: url('../icons/1_navbar.png');
  --navbar-2-url: url('../icons/2_navbar.png');
  --navbar-3-url: url('../icons/3_navbar.png');
  --navbar-4-url: url('../icons/4_navbar.png');

  font-size: 16px;
  font-family: 'Open sans';
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --bg-primary: #23232e;
  --bg-secondary: #141418;
  --bg-stave: #ececec;
  --scrollbar-track: #1e1e24;
  --scrollbar-thumb: #6649b8;
  --fa-primary: #ff7eee;
  --fa-secondary: #df49a6;
  --transition-speed: 600ms;
  --margin-left: 80px;
  --margin-right: 132px;

  margin: 0px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  max-height: 100vh;
}

main {
  height: 81vh;
  flex-grow: 1;
  display: flex;
  overflow-y: hidden;
  position: relative;
}

/*                   */
/* BEGIN: Navbar-smp */
/*                   */
.navbar-smp {
  position: fixed;
  background-color: var(--bg-primary);
  transition: width 200ms ease;
  z-index: 100;
  overflow: auto;
}

.navbar-nav-smp {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.nav-item {
  width: 100%;
}

.nav-item:last-child {
  margin-top: auto ;
}

.nav-link {
  display: flex;
  align-items: center;
  height: 5rem;
  color: var(--text-primary);
  text-decoration: none;
  filter: grayscale(100%) opacity(0.7);
  transition: var(--transition-speed);
  padding: 0;
}

.nav-link:hover {
  filter: grayscale(0%) opacity(1);
  background: var(--bg-secondary);
  color: var(--text-secondary);
}

.link-text {
  display: none;
  margin-left: 1rem;
}

.nav-link svg,
.nav-link img {
  width: 2rem;
  min-width: 2rem;
  margin: 0 1.5rem;
}

.fa-primary {
  color: var(--fa-primary);
}

.fa-secondary {
  color: var(--fa-secondary);
}

.fa-primary,
.fa-secondary {
  transition: var(--transition-speed)
}

.logo {
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1rem;
  text-align: center;
  color: var(--text-secondary);
  background: var(--bg-secondary);
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 0.3ch;
  width: 100%;
}

.logo svg,
.logo img {
  transform: rotate(0deg);
  transition: transform var(--transition-speed);
}

.navbar-smp:hover .logo svg,
.navbar-smp:hover .logo img {
  transform: rotate(-180deg);
}

/* Large screens */
@media only screen and (min-width: 576px) {
  main {
    margin-left: var(--margin-left);
    margin-bottom: 0;
  }
  
    .navbar-smp {
      top: 0;
      left: 0;
      width: 5rem;
      height: 100vh;
    }
    .navbar-smp:hover {
      width: 16rem;
    }

    .navbar-smp:hover .link-text {
      display: inline;
      transition: opacity var(--transition-speed);
    }
}
/* Small screens */
@media only screen and (max-width: 576px) {
  .navbar-smp {
    left: 0;
    bottom: 0;
    width: 100vw;
    height: 5rem;
  }
  .logo {
    display: none;
  }

  .navbar-nav-smp {
    flex-direction: row;
  }

  .nav-link {
    justify-content: center;
  }

  main {
    margin-left: 0;
    margin-bottom: var(--margin-left);
  }

}

/* THEMIFY */
#navbar_1 {
  content: var(--navbar-1-url);
}

#navbar_2 {
  content: var(--navbar-2-url);
}

#navbar_3 {
  content: var(--navbar-3-url);
}

#navbar_4 {
  content: var(--navbar-4-url);
}


.dark {
  --navbar-1-url: url('../icons/1_navbar_white.png');
  --navbar-2-url: url('../icons/2_navbar_white.png');
  --navbar-3-url: url('../icons/3_navbar_white.png');
  --navbar-4-url: url('../icons/4_navbar_white.png');
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --bg-primary: #23232e;
  --bg-secondary: #141418;
  --bg-stave: #ececec;
  --scrollbar-thumb: #6649b8;
  --scrollbar-track: #1e1e24;
}

.light {
  --navbar-1-url: url('../icons/1_navbar.png');
  --navbar-2-url: url('../icons/2_navbar.png');
  --navbar-3-url: url('../icons/3_navbar.png');
  --navbar-4-url: url('../icons/4_navbar.png');
  --text-primary: #1f1f1f;
  --text-secondary: #000000;
  --bg-primary: #ffffff;
  --bg-secondary: #e4e4e4;
  --bg-stave: #ffffff;
  --scrollbar-thumb: var(--fa-primary);
  --scrollbar-track: #f0f0f0;
}

.solar {
  --navbar-1-url: url('../icons/1_navbar.png');
  --navbar-2-url: url('../icons/2_navbar.png');
  --navbar-3-url: url('../icons/3_navbar.png');
  --navbar-4-url: url('../icons/4_navbar.png');
  --text-primary: #576e75;
  --text-secondary: #35535c;
  --bg-primary: #fdf6e3;
  --bg-secondary: #f5e5b8;
  --bg-stave: #fefbf0;
  --scrollbar-thumb: #fffa62;
  --scrollbar-track: #fcf0d0;
}

.theme-icon {
  display: none;
}

.dark #darkIcon {
  display: block;
}

.light #lightIcon {
  display: block;
}

.solar #solarIcon {
  display: block;
}

/* END: THEMIFY */

/*                 */
/* END: Navbar-smp */
/*                 */


/* Switch */
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* End: Switch */


.navbar-smp::-webkit-scrollbar {
  width: 0.25rem;
  height: 0.25rem;
  height: 0rem;
}
.navbar-smp::-webkit-scrollbar-track {
  background: var(--scrollbar-track);
}
.navbar-smp::-webkit-scrollbar-thumb {
  background: var(--scrollbar-thumb);
}